* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  color: #ffffff;
  /* background: linear-gradient(100deg, #252525 20%, #181616 100%); */
}

a {
  text-decoration: none !important;
  color: #110e0e !important;
  font-size: 16px !important;
  /* transition: color 0.3s ease, font-weight 0.3s ease; */
  transition: color 0.3s ease, transform 0.3s ease;
  font-weight: 400;
  line-height: 1.2;
  display: inline-block;
}

.docs_list-item a:hover {
  color: #250599 !important;
  /* font-weight: 500; */
  transform: scale(1.01);
}

.references-item a:hover {
  color: #250599 !important;
  /* font-weight: 500; */
  transform: scale(1.01);
}

ul {
  list-style: none;
}

li {
  margin-bottom: 10px;
}

.navbar-brand.nav-logo {
  font-size: 32px !important;
  font-weight: 700;
  background: linear-gradient(
    to bottom,
    #df1bfd,
    #540fe7ed
  ); /* Градиентные цвета */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar-collapse {
  margin-top: 14px;
  border-left: 1px solid #ccc8c8;
  padding-left: 8px;
}

.form_search {
  margin-bottom: 18px;
}

.container-fluid.container-img {
  background-color: #0f0e12;
  /* padding: 20px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.grim {
  max-height: 300px;
}

.docs {
  margin-top: 50px;
}

.docs-title {
  font-weight: 700;
  font-size: 20px;
  padding-left: 8px;
  border-left: 2px solid;
  border-image: linear-gradient(180deg, #bc10d8 0%, #5000faed 100%) 1;
}

.docs_list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
}

.references {
  margin-top: 50px;
}

.references-title {
  font-weight: 700;
  font-size: 20px;
  padding-left: 8px;
  border-left: 2px solid;
  border-image: linear-gradient(180deg, #bc10d8 0%, #5000faed 100%) 1;
}

.images{
margin: 50px 0;
}

.images-title {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 24px;
  padding-left: 8px;
  border-left: 2px solid;
  border-image: linear-gradient(180deg, #bc10d8 0%, #5000faed 100%) 1;
}

.images_inner {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.images_inner img {
  max-width: 200px;
  object-fit: cover;
  cursor: pointer;
}


/* Стили для изображения в модальном окне */
.modal {
  display: none; /* Скрываем по умолчанию */
  position: fixed;
  z-index: 1000;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000000e6; /* Полупрозрачный черный фон */
}

/* Стили для изображения внутри модального окна */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Стили для кнопки закрытия */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #ffffff;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}
