/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #ffffff;
    /* background: linear-gradient(100deg, #252525 20%, #181616 100%); */
}

ul{
    list-style: none;
}

.container-fluid.container-img{
    background-color: #110e0e;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grim{
    max-height: 300px;
}