p {
    border: 1px solid black;
    border-radius: 3px;
    background-color: beige;
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-style: italic;
}

.class_hello {
    color: rgb(145, 38, 145);
}

#class_id_hello {
    color: blue;
    background-color: rgb(218, 218, 218);
}

.class_hello1 {
    background-color: tomato;
}

ul {
    list-style-type: none;
}

input[type=text] {
    background-color: rgb(224, 224, 224);
    border: 1px solid black;
    border-radius: 3px;
    height: 26px;
    width: 200px;
}

.my_btn {
    width: 120px;
    height: 30px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: beige;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200;
}