body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: linear-gradient(to right, #4facfe, #00f2fe); */
}

html{
    background: linear-gradient(to right, #4facfe, #00f2fe);
}

.label {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}

.timer-container {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.time-setter {
    display: inline-block;
    margin: 0 10px;
}

.time-setter span {
    display: block;
    font-size: 48px;
    color: #333;
}

.time-btn {
    display: block;
    margin: 5px;
    background-color: #f8d7c2;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 5px 10px;
}

.time-btn:hover {
    background-color: #fca874;
}

.buttons button {
    font-size: 16px;
    color: whitesmoke;
    font-weight: 500;
    padding: 10px 20px;
    margin: 5px;
    margin-top: 30px;
    border: none;
    border-radius: 40%;
    background-color: #2e55c2;
    cursor: pointer;
}

.buttons button:hover {
    background-color: #542daf;
}