* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    margin-right: 60px;
    display: flex;
    gap: 150px;
    /* расстояние между карточками */
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 500px;
    height: 250px;
    background: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    padding: 20px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    /* плавность перехода */
}

.button-buy {
    position: absolute;
    bottom: -10px;
    left: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
}

.button-buy:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

#img1 {
    height: 135%;
}

#img2 {
    height: 110%;
}

.card:hover {
    transform: scale(1.05);
    background-color: #e0e0e0;
}

.card img {
    height: 120%;
    /* ширина изображения больше, чем карточка */
    position: absolute;
    right: -15%;
    /* изображение вправо */
    top: -2%;
    /* изображение вверх */
    transition: transform 0.3s ease;
    /* плавность перехода */
}

.card-content {
    z-index: 1;
}

.card h2 {
    margin-bottom: 15px;
}

.card ul {
    list-style-type: none;
    /* убираем маркеры списка */
}

.card ul li {
    margin-bottom: 10px;
    color: #333;
}

@media screen and (max-width: 600px) {
    .card-container {
        gap: 30px; /* Уменьшаем расстояние между карточками */
        
    }

    .card {
        width: 90%; /* Карточки занимают всю доступную ширину */
        height: auto; /* Высота карточек становится автоматической */
        margin: 10px; /* Добавляем небольшой отступ между карточками */
    }

    .card img {
        right:-15%; /* Меньшее смещение изображения вправо */
        top: 45%; /* Уменьшаем смещение изображения вверх */
        height: auto; /* Автоматическая высота изображения */
    }

    .button-buy {
        bottom: -20px; /* Смещаем кнопку ниже, чтобы не перекрывала текст */
        left: 30px; /* Меньший отступ слева для кнопки */
        font-size: 14px; /* Уменьшаем размер текста на кнопке */
    }

    #img1 {
        height: 70%;
    }
    
    #img2 {
        top: -5%;
        height: 50%;
    }
}