* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
}

.div1 {
    font-size: 1rem;
}

.div2 {
    background-color: rgb(102, 113, 212);
    width: 50%;
    font-size: 150%;
}

.main_container {
    /* height: 100vh; */
}

.div3 {
background-color: rgb(69, 69, 114);
border: 1px solid black;
}

.span1 {
border: 1px solid black;
}

.div4 {
background-color: blueviolet;
border-radius: 3px;
display: inline-block;
height: 50px;
}

.div5 {
    border: 1px solid black;
    border-radius: 3px;
    height: 30px;
    margin: 10px;
}

.div6 {
    border: 2px solid black;
    display: flexbox;
    border-radius: 3px;
    padding: 10px;
    margin: 10px;
}

.div7 {
    border: 1px solid black;
    overflow: auto;
}


/* схлопывание марджинов, , берется свмый большой марджин сверху или снизу */
.div8 {
    background-color: yellowgreen;
    border: 1px solid black;
    margin-bottom: 20px;
}

.div9 {
    background-color: olivedrab;
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-top: 20px;
}

.div9:hover {
    background-color: rgb(82, 117, 11);
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease;
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

